body, html {
  max-height: 100%;
  font-family: 'Open Sans',  Helvetica, sans-serif;
}

.f12 {
  font-size: 12px;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f15 {
  font-size: 15px;
}

.f16 {
  font-size: 16px;
}

.f20 {
  font-size: 20px;
}

h1 {
  font-size: 32px;
}

.uppercase {
  text-transform: uppercase;
}

.block {
  display: block;
}

.cnt-main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cnt-main .wrap__left-menu {
  height: 100%;
  width: 270px;
  background-color: #000000;
}

.cnt-main .wrap__left-menu__header {
  padding: 30px 30px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cnt-main .wrap__left-menu__header_logo {
  font-family: 'Open Sans',  Helvetica, sans-serif;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  padding-left: 35px;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.cnt-main .wrap__left-menu__header_logo::before {
  content: '';
  position: absolute;
  background-image: url("../img/Logo@3x.svg");
  background-size: 20px 17px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  left: 0;
  top: -1px;
}

.cnt-main .wrap__left-menu__header_logo:hover {
  color: #FFC200;
}

.cnt-main .wrap__left-menu__header .search-form {
  position: relative;
}

.cnt-main .wrap__left-menu__header .search-form::before {
  content: '';
  position: absolute;
  background-image: url("../img/Search@3x.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  left: 0;
  top: -8px;
}

.cnt-main .wrap__left-menu__profile {
  background: #202020;
  padding: 18px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cnt-main .wrap__left-menu__profile .wrap--profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cnt-main .wrap__left-menu__profile .wrap--profile-info__photo {
  background: url(../img/profile-photo.jpg) no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;
  border-radius: 50px;
}

.cnt-main .wrap__left-menu__profile .wrap--profile-info__text {
  padding-left: 15px;
  line-height: 1.2;
}

.cnt-main .wrap__left-menu__profile .wrap--profile-info__text_name {
  color: #ffffff;
  margin-bottom: 5px;
}

.cnt-main .wrap__left-menu__profile .wrap--profile-info__text_type {
  color: #9B9B9B;
}

.cnt-main .wrap__left-menu__profile .wrap_left-menu__profile__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 16px;
  cursor: pointer;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.cnt-main .wrap__left-menu__profile .wrap_left-menu__profile__more .one-dot {
  display: block;
  width: 4px;
  height: 4px;
  background: #D8D8D8;
  border-radius: 50%;
}

.cnt-main .wrap__left-menu__profile .wrap_left-menu__profile__more:hover .one-dot {
  background: #ffffff;
}

.cnt-main .wrap__left-menu__tasks {
  padding: 22px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cnt-main .wrap__left-menu__tasks_completed-tasks {
  padding-right: 17px;
}

.cnt-main .wrap__left-menu__tasks_completed-tasks .wrap--tasks_completed-tasks__count {
  color: #ffffff;
  margin-bottom: 5px;
}

.cnt-main .wrap__left-menu__tasks_completed-tasks .wrap--tasks_completed-tasks__title {
  color: #9B9B9B;
}

.cnt-main .wrap__left-menu__tasks_open-tasks .wrap--tasks_open-tasks__count {
  color: #ffffff;
  margin-bottom: 5px;
}

.cnt-main .wrap__left-menu__tasks_open-tasks .wrap--tasks_open-tasks__title {
  color: #9B9B9B;
}

.cnt-main .wrap__left-menu .wrap--left-menu__menu-list {
  padding: 15px 30px;
}

.cnt-main .wrap__left-menu .wrap--left-menu__menu-list_item {
  margin-bottom: 22px;
}

.cnt-main .wrap__left-menu .wrap--left-menu__menu-list_item__link {
  color: #ffffff;
  position: relative;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.cnt-main .wrap__left-menu .wrap--left-menu__menu-list_item__link .count {
  position: absolute;
  top: 0;
  right: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 19px;
  border-radius: 50%;
  background-color: #FFC200;
  color: #131313;
}

.cnt-main .wrap__left-menu .wrap--left-menu__menu-list_item__link:hover {
  color: #878787;
}

.cnt-main .wrap__left-menu .wrap--left-menu__menu-list_item {
  color: #878787;
}

.cnt-main .content {
  width: calc(100% - 270px);
}

.cnt-main .content .header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 23px 30px 5px 30px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cnt-main .content .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cnt-main .content .header-logo__title {
  padding-left: 55px;
  position: relative;
}

.cnt-main .content .header-logo__title::before {
  content: '';
  position: absolute;
  background-image: url("../img/Shapes@2x.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  background-color: #FFC200;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.cnt-main .content .header-logo .header__dots {
  margin: 17px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #EAEAEA;
  cursor: pointer;
}

.cnt-main .content .header-logo .header__dots_cnt {
  width: 15px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cnt-main .content .header-logo .header__dots_cnt .dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #AEACAC;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.cnt-main .content .header-logo .header__dots_cnt:hover .dot {
  background-color: #FFC200;
}

.cnt-main .content .header-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cnt-main .content .header-share-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.cnt-main .content .header-share-cnt__people {
  background: url("../img/share.jpg") no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-position: 50% 50%;
  margin-right: 5px;
}

.cnt-main .content .header-share-cnt__people:nth-child(2) {
  background: url("../img/share-2.png") no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-position: 50% 50%;
  margin-right: 5px;
}

.cnt-main .content .header-share-cnt__people:nth-child(3) {
  background: url("../img/share-3.jpg") no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-position: 50% 50%;
  margin-right: 5px;
}

.cnt-main .content .header-share-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cnt-main .content .header-share-btns__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 67px;
  height: 30px;
  background-color: #EAEAEA;
  color: #131313;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.cnt-main .content .header-share-btns__btn .chat {
  background-color: #FFF8DD;
}

.cnt-main .content .header-share-btns__btn:nth-child(1) {
  margin-right: 15px;
}

.cnt-main .content .header-share-btns__btn:nth-child(1):hover {
  -webkit-box-shadow: 1px 1px 10px 0px #ff7f50;
          box-shadow: 1px 1px 10px 0px #ff7f50;
}

.cnt-main .content .header-share-btns__btn:nth-child(2) {
  width: 80px;
  background-color: #FFF8DD;
  color: #FFC200;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.cnt-main .content .header-share-btns__btn:nth-child(2)::before {
  content: '';
  position: absolute;
  background-image: url("../img/Combined Shape@1x.svg");
  background-size: 90% 100%;
  background-repeat: no-repeat;
  left: calc(50% - 25px);
  top: calc(50% - 10px);
  width: 16px;
  height: 16px;
}

.cnt-main .content .header-share-btns__btn:nth-child(2):hover {
  background-color: white;
  -webkit-box-shadow: 1px 1px 10px 0 #9B9B9B;
          box-shadow: 1px 1px 10px 0 #9B9B9B;
}

.cnt-main .content .nav {
  padding: 0 30px;
}

.cnt-main .content .nav .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cnt-main .content .nav .menu-list__item {
  padding: 12px 15px 12px 15px;
}

.cnt-main .content .nav .menu-list__item__link {
  color: #131313;
  opacity: 0.7;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.cnt-main .content .nav .menu-list__item__link:hover {
  color: #000000;
  opacity: 1;
}

.cnt-main .content .nav .menu-list__item:nth-child(1) {
  padding-left: 0;
}

.cnt-main .content .content-body {
  height: calc(100vh - 132px);
  background-color: #eeebe5;
  padding: 30px 30px 87px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cnt-main .content .content-body .wrapper-post {
  background-color: #ffffff;
  width: 730px;
  border-radius: 8px;
  padding: 38px 25px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cnt-main .content .content-body .wrapper-post__day {
  color: #131313;
  opacity: 0.5;
}

.cnt-main .content .content-body .wrapper-post__item {
  margin: 32px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cnt-main .content .content-body .wrapper-post__item_icon {
  background: #CEF9C6;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.cnt-main .content .content-body .wrapper-post__item_icon::before {
  content: '';
  position: absolute;
  background-image: url("../img/Icon@3x.svg");
  background-size: 12px 9px;
  background-repeat: no-repeat;
  left: calc(50% - 6px);
  top: calc(50% - 4px);
  width: 12px;
  height: 9px;
}

.cnt-main .content .content-body .wrapper-post__item__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 10% 0 3%;
  line-height: 20px;
}

.cnt-main .content .content-body .wrapper-post__item__time {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  white-space: nowrap;
  color: #131313;
  opacity: 0.7;
  display: inline-block;
}

.cnt-main .content .content-body .wrapper-post__item:nth-child(3) .wrapper-post__item_icon {
  background: #FFF8DD;
}

.cnt-main .content .content-body .wrapper-post__item:nth-child(3) .wrapper-post__item_icon::before {
  background-image: url("../img/Message.svg");
}

.cnt-main .content .content-body .wrapper-post__item:nth-child(4) .wrapper-post__item__text {
  background: #F7F6F3;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  margin: 0 65px;
}

.cnt-main .content .content-body .wrapper-post__item:nth-child(5) .wrapper-post__item_icon {
  background: #E3EFFF;
}

.cnt-main .content .content-body .wrapper-post__item:nth-child(5) .wrapper-post__item_icon::before {
  background-image: url("../img/Download.svg");
}

.cnt-main .content .content-body .wrapper-post__item:nth-child(6) {
  margin: 15px 30px 15px;
}

.cnt-main .content .content-body .wrapper-post__item:nth-child(6) .wrapper-post__item__photos {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cnt-main .content .content-body .wrapper-post__item:nth-child(6) .wrapper-post__item__photos_img {
  background: url("../img/post-bg.jpg") no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 10px;
}

.cnt-main .content .content-body .wrapper-post__item:nth-child(6) .wrapper-post__item__photos_img:nth-child(2) {
  background: url("../img/post-bg-2.jpg") no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.cnt-main .content .content-body .wrapper-post__item:nth-child(6) .wrapper-post__item__photos_img:nth-child(3) {
  background: url("../img/post-bg-3.jpg") no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.cnt-main .content .content-body .wrapper-post__item:nth-child(6) .wrapper-post__item__photos_img:nth-child(4) {
  background: url("../img/post-bg-4.jpeg") no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.burger {
  display: none;
}
/*# sourceMappingURL=main.css.map */