@media screen and (max-width: 1060px) {
  .cnt-main .content .content-body .wrapper-post {
    width: 100%;
  }
}

@media screen and (max-width: 1005px) {
  .burger {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: block;
    position: relative;
    height: 25px;
    border: 1px solid #9B9B9B;
    padding: 4px;
    border-radius: 5px;
    z-index: 4;
    cursor: pointer;
  }
  .burger span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background: #9B9B9B;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .burger span:nth-child(2) {
    display: block;
    position: absolute;
    top: 10px;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background: #9B9B9B;
  }
  .burger span:nth-child(3) {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    top: 17px;
    border-radius: 5px;
    background: #9B9B9B;
  }
  .burger span:nth-child(4) {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    top: 24px;
    border-radius: 5px;
    background: #9B9B9B;
  }
  .burger:hover {
    border: 1px solid #FFC200;
  }
  .burger:hover span {
    background: #FFC200;
  }
  .show-block {
    display: block !important;
  }
  .show-burger {
    display: none;
  }
  .f16 {
    font-size: 14px;
  }
  .f15 {
    font-size: 13px;
  }
  .cnt-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cnt-main .wrap {
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    z-index: 2;
  }
  .cnt-main .wrap__header {
    padding: 47px 40px 35px 90px;
  }
  .cnt-main .wrap__left-menu {
    width: 100%;
  }
  .cnt-main .wrap__left-menu__header {
    padding: 47px 30px 35px 90px;
  }
  .cnt-main .wrap__left-menu__header_logo {
    padding-left: 25px;
  }
  .cnt-main .wrap__left-menu__header_logo::before {
    background-size: 22px 14px;
  }
  .cnt-main .content {
    width: 100% !important;
  }
  .cnt-main .content .header-logo__title {
    padding-left: 40px;
  }
  .cnt-main .content .header-logo__title::before {
    top: -3px;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
  }
  .cnt-main .content .content-body {
    height: 100%;
    padding-bottom: 0;
  }
  .cnt-main .content .content-body .wrapper-post__item {
    margin: 25px 5px;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(4) .wrapper-post__item__text {
    margin: 0 20% 0 10%;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(6) {
    padding-bottom: 16px;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(6) .wrapper-post__item__photos {
    margin: 0px 6% 0 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(6) .wrapper-post__item__photos_img {
    margin-top: 15px;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(6) .wrapper-post__item__photos_img:nth-child(2) {
    margin-top: 15px;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(6) .wrapper-post__item__photos_img:nth-child(3) {
    margin-top: 15px;
  }
  .cnt-main .menu {
    text-align: right;
  }
  .cnt-main .menu li {
    display: inline-block;
  }
  .cnt-main .menu li a {
    text-decoration: none;
    font-size: 16px;
  }
}

@media screen and (max-width: 875px) {
  h1 {
    font-size: 25px;
  }
  .cnt-main .content .header-share-cnt {
    margin: 15px 5px;
  }
  .cnt-main .content .content-body .wrapper-post__item {
    margin-left: 0;
    margin-right: 0;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(6) {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    width: 70%;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(4) .wrapper-post__item__text {
    margin: 0 20% 0 12%;
  }
}

@media screen and (max-width: 530px) {
  .cnt-main .content .content-body .wrapper-post__item {
    margin: 25px 5px;
    margin-left: 0;
    margin-right: 0;
  }
  .cnt-main .content .content-body .wrapper-post__item__text {
    margin: 0 2% 0 3%;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(6) {
    margin-left: 0;
    margin-right: 0;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(6) .wrapper-post__item__text {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 430px) {
  .cnt-main .content .content-body .wrapper-post__item:nth-child(4) .wrapper-post__item__text {
    padding: 15px 20px;
    margin: 0 20% 0 15%;
  }
}

@media screen and (max-width: 415px) {
  .cnt-main .content .nav .menu-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cnt-main .content .nav .menu-list__item:nth-child(1) {
    padding-left: 12px;
  }
}

@media screen and (max-width: 410px) {
  .cnt-main .content .content-body .wrapper-post__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cnt-main .content .content-body .wrapper-post__item_icon {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    top: -25px;
    left: -46px;
    min-width: 25px;
    width: 25px;
    height: 25px;
  }
  .cnt-main .content .content-body .wrapper-post__item_icon::before {
    width: 15px;
    height: 11px;
  }
  .cnt-main .content .content-body .wrapper-post__item__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 0;
    margin-right: 0;
  }
  .cnt-main .content .content-body .wrapper-post__item__time {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 12px;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(3) .wrapper-post__item_icon::before {
    width: 15px;
    height: 12px;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(4) .wrapper-post__item__text {
    margin: 0 0 0 25%;
  }
  .cnt-main .content .content-body .wrapper-post__item:nth-child(5) .wrapper-post__item_icon::before {
    width: 15px;
    height: 12px;
  }
}

@media screen and (max-width: 401px) {
  .cnt-main .wrap__left-menu__header {
    padding: 33px 30px 35px 90px;
  }
}

@media screen and (max-width: 362px) {
  h1 {
    font-size: 19px;
  }
}

@media screen and (max-width: 350px) {
  .cnt-main .content .content-body .wrapper-post__item:nth-child(4) .wrapper-post__item__text {
    padding: 15px 15px;
    margin: 0 0 0 30%;
  }
}

@media screen and (max-width: 320px) {
  .cnt-main .content .content-body .wrapper-post__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cnt-main .content .content-body .wrapper-post__item_icon {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    left: -46px;
    min-width: 25px;
    width: 25px;
    height: 25px;
  }
  .cnt-main .content .content-body .wrapper-post__item__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 0;
    margin-right: 0;
  }
}
/*# sourceMappingURL=media.css.map */