$gray: #9B9B9B;
$coral: #ff7f50;
$yellow: #FFC200;
@media screen and (max-width: 1060px) {
    .cnt-main {
        .content {
            .content-body {
                .wrapper-post {
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 1004px) {
    .f16 {
        font-size: 14px;
    }
    .f15 {
        font-size: 13px;
    }
    .cnt-main {
        .wrap {
            &__left-menu{
                &__header {
                    &_logo {
                        &::before {
                            background-size: 20px 13px;
                        }
                    }
                }
            }
        }
    }    
}

@media screen and (max-width: 875px) {
    h1 {
        font-size: 25px;
    }
    .cnt-main {
        .content {
            .header {
                &-logo {
                    &__title {
                        padding-left: 45px;
                        &::before {
                            background-size: 35px 35px;
                            width: 35px;
                            height: 35px;
                            top: -4px;
                        }
                    }
                }
                &-share {
                    &-cnt {
                        margin: 15px 5px;
                    }
                }
            }
            .content-body {
                .wrapper-post {
                    &__item {
                        margin-left: 0;
                        margin-right: 0;
                    }
                    &__item:nth-child(6) {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .cnt-main {
        .content {
            width: 100%;
            .header {
                justify-content: space-around;
                padding: 0 30px 5px 70px;
            }
        }
        .wrap { 
            #sidebar-desktop {
                display: none;
            }
                .burger-menu {
                    display: block;
                    position: fixed;
                    top: 10px;
                    left: 10px;
                    z-index: 1;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: rgba(248, 236, 236, 0.5);
                    box-shadow: -1px 1px 15px -5px #f088a0;
                    -webkit-transition: 0.4s;
                    -moz-transition: 0.4s;
                    -o-transition: 0.4s;
                    transition: 0.4s;
                    cursor: pointer;
                        &_lines::before,
                        &_lines::after,
                        &_lines {
                            position: absolute;
                            width: 25px;
                            height: 2px;
                            background-color: $coral;
                            -webkit-transition: 0.4s;
                            -moz-transition: 0.4s;
                            -o-transition: 0.4s;
                            transition: 0.4s;
                        }
                    .burger-menu_lines {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .burger-menu_lines::before {
                    content: '';
                    top: -8px;
                    }
                    .burger-menu_lines::after {
                    content: '';
                    top: 8px;
                    }
        
                    &:hover {
                        filter: grayscale(0.5);
                    }
                }
                .blackout {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0; left: 0;
                    background: rgba(0,0,0,.5);
                    z-index: 2;
                }
                &__left-menu {
                    position: fixed;
                    z-index: 4;
                    .close-burger {
                        display: block;
                    }
                }  
        }
    }

}

@media screen and (max-width: 700px) {
    .logo {
        width: 70%;
    }

    .cnt-main {
        .content {
            .header {
                justify-content: center;
            }
            .nav {
                .menu-list {
                    justify-content: center;
                }
            } 
            .content-body {
                .wrapper-post {
                    &__item:nth-child(4) {
                        .wrapper-post__item__text {
                            margin: 0 20% 0 12%;
                        }
                    }
                }
            }
        }
    }        

}

@media screen and (max-width: 530px) {
    .cnt-main {
        .content {
            .content-body {
                .wrapper-post {
                    &__item {
                        margin: 25px 5px;
                        margin-left: 0;
                        margin-right: 0;
                        &__text {
                            margin: 0 2% 0 3%;
                        }
                    }
                    &__item:nth-child(6) {
                        margin-left: 0;
                        margin-right: 0;
                        .wrapper-post__item__text {
                            padding: 10px 15px;
                        }
                        .wrapper-post__item__photos {
                            justify-content: center;
                            &_img:not(:last-child) {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .cnt-main {
        .content {
            .content-body {
                .wrapper-post {
                    &__item:nth-child(4) {
                        .wrapper-post__item__text {
                            padding: 15px 20px;
                            margin: 0 20% 0 15%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 416px) {
    .cnt-main {
        h1 {
            font-size: 22px;
        }
        .content {
            .nav {
                .menu-list {
                    justify-content: center;
                    &__item:nth-child(1) {
                        padding-left: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .cnt-main {
        .content {
            .content-body {
                .wrapper-post {
                    &__item {
                        display: flex;
                        &_icon {
                            order: 1;
                            top: -25px;
                            left: -46px;
                            min-width: 25px;
                            width: 25px;
                            height: 25px;
                            &::before {
                                width: 15px;
                                height: 11px;
                            }
                        }
                        &__text {
                            order: 2;
                            margin-left: 0;
                            margin-right: 0;
                        }
                        &__time {
                            align-self: center;
                            font-size: 12px;
                        }
                    }
                    &__item:nth-child(3){
                        .wrapper-post__item_icon{
                                &::before {
                                width: 15px;
                                height: 12px;
                            }
                        }
                    }
                    &__item:nth-child(4) {
                        .wrapper-post__item__text {
                            margin: 0 0 0 25%;
                        }
                    }
                    &__item:nth-child(5){
                        .wrapper-post__item_icon{
                                &::before {
                                width: 15px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 392px) {
    .cnt-main {
        h1 { font-size: 19px; }
            .content {
                .header {
                    &-logo {
                        &__title {
                            text-align: center;
                            padding-left: 30px;
                            &::before {
                                top: -4px;
                                background-size: 25px 25px;
                                width: 25px;
                                height: 25px;
                            }
                        }
                        .header__dots {
                            margin-right: 0 !important;
                        }
                    }
                }
            }
    }
}

@media screen and (max-width: 376px) {
    .cnt-main {
        .content {
            .header-share {
                justify-content: center;
                margin: -15px 0 5px;
            }
        }
    }
}

@media screen and (max-width: 362px) {
    .cnt-main { 
        h1 { font-size: 17px; }
     }
}

@media screen and (max-width: 350px) {
    .cnt-main {
        .content {
            .content-body {
                .wrapper-post {
                    &__item:nth-child(4) {
                        .wrapper-post__item__text {
                            padding: 15px 15px;
                            margin: 0 0 0 30%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .cnt-main {
        .content {
            .content-body {
                .wrapper-post {
                    &__item:nth-child(6) {
                        .wrapper-post__item__photos {
                            &_img:not(:last-child) {
                                margin-right: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .cnt-main {
        .content {
            .content-body {
                .wrapper-post {
                    &__item {
                        display: flex;
                        &_icon {
                            order: 1;
                            left: -46px;
                            min-width: 25px;
                            width: 25px;
                            height: 25px;
                        }
                        &__text {
                            order: 2;
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}